{
  "root": true,
  "extends": ["xo", "prettier"],
  "env": {
    "jest": true,
    "node": true,
    "browser": true,
  },
  "rules": {
    "max-len": ["error", { "code": 150 }],
    "capitalized-comments": "off",
    "max-params": ["error", 6],
    "new-cap": "off",
    "no-unused-vars": "warn",
    "no-await-in-loop": "warn",
    "no-else-return": "warn",
    "function-paren-newline": "off",
    "function-call-argument-newline": ["error", "consistent"],
    "multiline-comment-style": "off",
  },
  "plugins": ["prettier"],
}
