/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./tailwind.css";

/* Declare imported sans-serif font */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/assets/fonts/JetBrainsMono-Light.ttf") format("truetype");
}

/* Resetting default styles and providing a basic box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Base font size and line height */
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}

/* Responsive font size for readability */
body {
  background-color: rgba(124, 152, 133, 1);
  color: #fff;
  height: 100vh;
  font-size: 1rem;
}

body > div:last-child > span + img {
  display: inline !important;
}

.main-container {
  height: calc(100vh - 84px);
}

.notification {
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 10px;
  color: white;
  padding: 8px 12px;
  margin: 4px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.success {
  background-color: rgba(75, 181, 67, 0.8);
}

.error {
  background-color: rgba(232, 49, 85, 0.8);
}

.warning {
  background-color: rgba(255, 153, 0, 0.8);
}
/* LOGIN */
.input-group:focus-within .login-labels {
  color: rgb(87 83 78);
}

/* DEPARTMENT LIST */
.department-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.dragging {
  opacity: 0.5;
}

.department-list-item:hover {
  cursor: pointer;
  background-color: rgba(181, 182, 130, 1);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.selected {
  background-color: rgba(181, 182, 130);
}

.odd {
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-row-edit:hover {
  cursor: pointer;
  background-color: rgba(181, 182, 130, 0.5);
}

.contact-row:hover {
  background-color: rgba(181, 182, 130, 0.5);
}

/* CONTACTS */
.tab-item {
  font-size: 12px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
