<!-- <div id="pdf-container" class="flex flex-col bg-white items-center text-black w-[1000px] h-[1550px] mb-[10px]">
  <div class="w-[100%] h-[60px] flex justify-between">
    <div class="h-[25px]">
      <img src="../../../assets/images/olylogo.png" width="110" height="60">
    </div>
    <div class="flex flex-col items-end">
      <span class="font-semibold text-sm">Ενημερώθηκε 02/02/2024</span>
      <span class="font-semibold text-sm">ΚΑΤΑΛΟΓΟΣ ΕΣΩΤΕΡΙΚΩΝ ΤΗΛΕΦΩΝΩΝ</span>
    </div>
  </div>
  <div class="w-[90%] h-[60px] flex justify-between flex-wrap pb-4">
    <div>
      <span class="font-semibold text-base">ΚΑΤΑΛΟΓΟΣ ΕΣΩΤΕΡΙΚΩΝ ΤΗΛΕΦΩΝΩΝ</span>
    </div>
    <div class="flex flex-col items-end pr-[20px]">
      <span class="font-semibold text-sm">Ενημερώθηκε 02/02/2024</span>
    </div>
  </div>
  <div id="pdf-divisions" class="w-[90%] h-[1450px] flex flex-wrap flex-col">
    <div class="w-[500px] flex flex-col">
        <div>
          <div
            class="inline justify-center bg-red-700 text-white border-x-[1px] border-t-[1px] border-b-[0px] border-black pb-[10px]">
          </div>
          <div class="flex flex-col tab-content">
            <table class="w-full border border-collapse">
              <tr class="bg-general-zebraEven">
                <td class="border-y-[1px] border-l-[1px] border-r-[0px] border-black pl-1">ΑΡΒΑΝΙΤΙΔΗΣ ΓΙΩΤΗΣ</td>
                <td class="border-y-[1px] border-x-0 border-black "></td>
                <td class="border border-black text-center font-bold w-[70px]">105</td>
              </tr>
              <tr class="bg-general-zebraOdd">
                <td class="border-y-[1px] border-l-[1px] border-r-[0px] border-black ">ΑΡΒΑΝΙΤΙΔΗΣ ΓΙΩΤΗΣ</td>
                <td class="border-y-[1px] border-x-0 border-black "></td>
                <td class="border border-black text-center font-bold w-[70px]">105</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
</div> -->