<!-- <div id="preview-container" class="absolute top-[25px] left-[100px]" style="font-family: Arial"> -->
<div id="preview-container" class="absolute top-[-9999px] left-[-9999px]" style="font-family: Arial">
  <!-- <div class="h-[1400px] w-[1000px] mb-[10px] flex flex-col bg-white items-center text-black">
    <div class="w-[90%] h-[60px] flex justify-between pb-4">
      <div>
        <img src="../../../assets/images/olylogo.png" width="110" height="60">
      </div>
      <div class="flex flex-col justify-center items-end">
        <span class="font-semibold text-base">ΚΑΤΑΛΟΓΟΣ ΕΣΩΤΕΡΙΚΩΝ ΤΗΛΕΦΩΝΩΝ</span>
        <span class="font-semibold text-sm">Ενημερώθηκε 02/02/2024</span>
      </div>
    </div>
    <div id="pdf-departments-1" class="h-[1300px] flex flex-wrap flex-col">
      <div id="pdf-departments-${this.pageIndex}" class="h-[1320px] w-[100%] flex flex-row">
        <div id="page-${this.pageIndex}-first-column" class="h-[100%] w-[50%] flex flex-col"></div>
        <div id="page-${this.pageIndex}-second-column" class="h-[100%] w-[50%] flex flex-col"></div>
      </div>
      <div class="w-[500px] flex flex-col">
        <div>
          <div
            class="flex justify-center bg-buttons-delete text-white font-semibold text-base border-x-[1px] border-t-[1px] border-b-[0px] border-black">
            ΔΙΕΥΘΥΝΣΗ
          </div>
          <div class="flex flex-col">
            <table id="tab-table-2" class="w-full border border-collapse text-sm">
              <tbody id="tab-body-2">
                <tr class="bg-general-zebraOdd">
                  <td class="border-collapse border-y-[1px] border-l-[1px] border-r-[0px] border-black pl-1">ΛΑΚΑΣΑΣ
                    ΔΗΜΗΤΡΗΣ</td>
                  <td class="border-collapse border-y-[1px] border-x-0 border-black ">(CEO)</td>
                  <td class="border-collapse border border-black text-center text-base font-bold w-[80px]">
                    207

                  </td>
                </tr>
                <tr class="bg-general-zebraEven">
                  <td class="border-collapse border-y-[1px] border-l-[1px] border-r-[0px] border-black pl-1">ΛΑΚΑΣΑΣ
                    ΔΙΟΝΥΣΗΣ</td>
                  <td class="border-collapse border-y-[1px] border-x-0 border-black ">(CTO)</td>
                  <td class="border-collapse border border-black text-center font-bold w-[80px]">
                    112
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div id="off-screen-container" class="absolute top-[-9999px] left-[-9999px]"></div>

<div id="department-selection-modal-container" class="hidden fixed inset-0 z-50 outline-none">
  <div
    class="fixed top-0 left-0 z-40 w-screen h-screen flex justify-center items-center backdrop-opacity-10 bg-modal-backdrop bg-opacity-50"
  >
    <div
      class="flex flex-col relative justify-between bg-modal-background shadow-custom rounded-[10px] text-stone-600 p-8 w-[1200px] h-[700px]"
    >
      <button id="close-select-button" class="absolute top-0 right-0 m-4 text-xl cursor-pointer focus:outline-none">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="flex text-center justify-center text-2xl">
        <span class="font-semibold">Select Department(s)</span>
      </div>
      <div class="flex text-center justify-end items-center text-xl">
        <label for="select-all" class="font-semibold cursor-pointer pr-1">Select all</label>
        <input id="select-all" type="checkbox" class="h-6 w-6 cursor-pointer rounded-lg" />
      </div>
      <div id="department-selection-area" class="flex flex-wrap text-white font-semibold justify-evenly h-[75%] overflow-x-auto">
        <!-- <div class="flex flex-row rounded-[10px] p-2 m-2 w-[350px] justify-between bg-general-barsPrimary hover:bg-general-hover cursor-pointer">
          <input type="checkbox" class="h-6 w-6 cursor-pointer rounded-lg">
        </div> -->
      </div>
      <div class="flex justify-end">
        <button id="export-pdf" class="bg-buttons-submit hover:opacity-50 p-2 rounded-lg cursor-pointer text-white">
          Export pdf <i class="fa-solid fa-file-pdf"></i>
        </button>
      </div>
    </div>
  </div>
</div>
