<div id="catalog-divisions"
  class="bg-general-tabs flex flex-col py-[5px] w-2/6 h-[100%] rounded-lg items-center overflow-auto">
</div>

<div id="catalog-contacts" class="w-4/6 pl-8 flex flex-wrap">
  <!-- <div class="flex w-full">
    <div class="card relative rounded-lg shadow-custom flex flex-col bg-general-tabs mx-auto w-11/12 h-4/6">
      <div class="rounded-lg font-semibold text-center h-fit p-3 w-full bg-general-tabs">ΔΙΕΥΘΥΝΣΗ</div>
      <button class="absolute top-2 right-2"><i class="hover:text-login-submit fa-solid fa-edit text-2xl"></i></button>
      <div class="flex flex-row justify-between p-3">
        <p class="underline font-semibold">ΟΝΟΜΑΤΕΠΩΝΥΜΟ</p>
        <p class="underline font-semibold">ΤΗΛΕΦΩΝΟ</p>
      </div>
      <div class="flex flex-col justify-between overflow-auto">
        <div class="odd flex flex-row justify-between px-3 py-2">
          <p>ΠΑΝΑΓΙΩΤΗΣ ΑΡΒΑΝΙΤΙΔΗΣ</p>
          <p>105</p>
        </div>
        <div class="flex flex-row justify-between px-3 py-2">
          <p>ΠΑΝΑΓΙΩΤΗΣ ΑΡΒΑΝΙΤΙΔΗΣ</p>
          <p>105</p>
        </div>
        <div class="odd flex flex-row justify-between px-3 py-2">
          <p>ΠΑΝΑΓΙΩΤΗΣ ΑΡΒΑΝΙΤΙΔΗΣ</p>
          <p>105</p>
        </div>
        <div class="flex flex-row justify-between px-3 py-2">
          <p>ΠΑΝΑΓΙΩΤΗΣ ΑΡΒΑΝΙΤΙΔΗΣ</p>
          <p>105</p>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div id="division-edit-modal-container" class="hidden fixed inset-0 z-50 outline-none">
  <div
    class="fixed top-0 left-0 z-40 w-screen h-screen flex justify-center items-center backdrop-opacity-10 bg-login-backdrop bg-opacity-50">
    <div
      class="edit-division relative form-before bg-login-background shadow-custom rounded-[10px] text-stone-600 grid p-8 h-auto w-[450px]">
      <button id="close-edit-button" class="absolute top-0 right-0 m-4 text-xl cursor-pointer focus:outline-none">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="flex flex-row text-center justify-center my-4 text-2xl">
        <span class="text-bars-element font-semibold">Edit Division</span>
      </div>
      <div class="division-details flex flex-col">
        <label for="division-name" class="font-semibold hover:cursor-pointer">Division Name</label>
        <input id="division-name" type="text"
          class="border border-stone-600 rounded-md font-semibold w-full p-1 text-lg mb-4 text-stone-600 outline-none" />
        <label for="division-order" class="font-semibold hover:cursor-pointer">Order</label>
        <input id="division-order" type="text"
          class="border border-stone-600 rounded-md font-semibold w-full p-1 text-lg mb-4 text-stone-600 outline-none" />
        <div class="my-4 flex flex-row justify-between">
          <button class="bg-login-submit hover:opacity-50 p-2 rounded-lg cursor-pointer text-white"
            id="save-division-button">
            Save changes&nbsp;<i class="fa-regular fa-circle-check"></i>
          </button>
          <button class="bg-red-700 hover:opacity-50 p-2 rounded-lg cursor-pointer text-white"
            id="delete-division-button">
            Delete division&nbsp;<i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        <div class="flex flex-row text-center justify-center my-4 text-2xl">
          <span class="text-bars-element font-semibold">Add Contact</span>
        </div>
        <div class="flex flex-col">
          <label for="contact-first-name" class="font-semibold hover:cursor-pointer">First name</label>
          <input id="contact-first-name" type="text"
            class="border border-stone-600 rounded-md font-semibold w-full p-1 text-lg mb-4 text-stone-600 outline-none" />
          <label for="contact-last-name" class="font-semibold hover:cursor-pointer">Last name</label>
          <input id="contact-last-name" type="text"
            class="border border-stone-600 rounded-md font-semibold w-full p-1 text-lg mb-4 text-stone-600 outline-none" />
          <label for="contact-comment" class="font-semibold hover:cursor-pointer">Comment</label>
          <input id="contact-comment" type="text"
            class="border border-stone-600 rounded-md font-semibold w-full p-1 text-lg mb-4 text-stone-600 outline-none"
            placeholder="Optional comment..." />
          <label for="contact-tel" class="font-semibold hover:cursor-pointer">Telephone numbers</label>
          <input id="contact-tel" type="text"
            class="border border-stone-600 rounded-md font-semibold w-full p-1 text-lg mb-4 text-stone-600 outline-none"
            placeholder="Separate different numbers with a comma..." />
        </div>
        <div class="flex flex-row justify-center">
          <button class="disabled mt-4 bg-login-submit hover:opacity-50 p-2 rounded-lg cursor-pointer text-white"
            id="add-contact-button">
            Add contact&nbsp;<i class="fa-solid fa-user-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="confirmation-modal-container" class="hidden fixed inset-0 z-50 outline-none">
  <div
    class="fixed top-0 left-0 z-40 w-screen h-screen flex justify-center items-center backdrop-opacity-10 bg-login-backdrop bg-opacity-50">
    <div
      class="relative form-before bg-login-background shadow-custom rounded-[10px] text-stone-600 grid p-8 h-auto w-[450px]">
      <button id="close-confirm-button" class="absolute top-0 right-0 m-4 text-xl cursor-pointer focus:outline-none">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="flex flex-row text-center justify-center mb-8 text-lg">
        <span class="text-bars-element font-semibold">Are you sure you want to delete this division? All contacts will
          be moved to the last division.
        </span>
      </div>
      <div class="flex flex-row justify-evenly">
        <button class="bg-red-700 hover:opacity-50 p-2 rounded-lg cursor-pointer text-white" id="confirm-delete-button">
          Confirm&nbsp;<i class="fa-solid fa-trash-can"></i>
        </button>
        <button class="bg-gray-500 hover:opacity-50 p-2 rounded-lg cursor-pointer text-white" id="cancel-delete-button">
          Cancel&nbsp;<i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>
</div>