<div class="p-8 w-full h-full flex flex-row justify-evenly">
  <div
    class="division-list-container bg-general-tabs flex flex-col w-[400px] h-[100%] rounded-lg justify-evenly items-center">
    <div class="division-list-item"><button> ΔΙΕΥΘΥΝΣΗ</div></button>
    <div class="division-list-item"><button> ΥΠΕΥΘΥΝΟΣ ISO</div></button>
    <div class="division-list-item"><button> ΤΜΗΜΑ ΜΗΧΑΝΟΓΡΑΓΗΣΗΣ</div></button>
    <div class="division-list-item"><button> ΕΡΕΥΝΑ</div></button>
    <div class="division-list-item"><button> INTERNATIONAL SALES DIRECTOR</div></button>
    <div class="division-list-item"><button> ΤΜΗΜΑ D.MARKETING/ ΔΗΜΙΟΥΡΓΙΚΟ</div></button>
    <div class="division-list-item"><button> ΔΙΕΥΘΥΝΣΗ</div></button>
    <div class="division-list-item"><button> ΥΠΕΥΘΥΝΟΣ ISO</div></button>
    <div class="division-list-item"><button> ΤΜΗΜΑ ΜΗΧΑΝΟΓΡΑΓΗΣΗΣ</div></button>
    <div class="division-list-item"><button> ΕΡΕΥΝΑ</div></button>
    <div class="division-list-item"><button> INTERNATIONAL SALES DIRECTOR</div></button>
    <div class="division-list-item"><button> ΤΜΗΜΑ D.MARKETING/ ΔΗΜΙΟΥΡΓΙΚΟ</div></button>
  </div>
  <div class="contact-tab-container">
    <div
      class="card rounded-lg shadow-custom bg-general-tabs flex flex-col items-center justify-evenly w-[400px] h-[300px]">
      <div class="flex h-5 justify-center text-xl ">
        <h2>ΔΙΕΥΘΥΝΣΗ</h2>
      </div>
      <div class="flex flex-col items-center justify-evenly w-[90%] h-[250px]">
        <div class="tab-item">
          <span>ΑΡΒΑΝΙΤΙΔΗΣ ΠΑΝΑΓΙΩΤΗΣ</span>
          <span></span>
          <span>105</span>
        </div>
        <div class="tab-item">
          <span>ΛΑΚΑΣΑΣ ΝΙΚΟΣ</span>
          <span></span>
          <span>104</span>
        </div>
        <div class="tab-item">
          <span>ΑΡΒΑΝΙΤΙΔΗΣ ΝΙΚΟΣ</span>
          <span>(CEO)</span>
          <span>114</span>
        </div>
        <div class="tab-item">
          <span>ΛΑΚΑΣΑΣ ΔΗΜΗΤΡΗΣ</span>
          <span>(CEO)</span>
          <span>207</span>
        </div>
        <div class="tab-item">
          <span>ΛΑΚΑΣΑΣ ΔΙΟΝΥΣΗΣ</span>
          <span>(CTO)</span>
          <span>112</span>
        </div>
        <div class="tab-item">
          <span>ΑΡΒΑΝΙΤΙΔΟΥ ΡΕΝΑ</span>
          <span>(COO)</span>
          <span>208</span>
        </div>
      </div>
    </div>
  </div>
</div>